<div class="container">
	<div class="col-md-4">
		<div class="picmarg">
			<!-- <img src="assets/TopherPic.png" alt="Topher"> -->
      <%= image_tag("assets/TopherPic.png", :class=> "img-responsive" ) %>
    </div>
    <div class="svg-wrapper">
    	<svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
      <rect class="shape" height="60" width="320" />
      <div class="text" align="center">TOPHER BLAIR
      </div>
        <p class="helpfont">Email: 
        	<a href="mailto:bisonproperties@mac.com">bisonproperties@mac.com</a>
        </p>
        <p class="helpfont">Phone: 801.243.1950</p>
        <p class="helpfont">
        	<a href="http://www.github.com/TopherBlair" target="_blank">github.com/TopherBlair</a>
        </p>
      </svg>
    </div>
  </div>

  <div class="col-md-4">
  	<div class="picmarg">
  		<img src="assets/KDX2.png" alt="KDX">
  	</div>
    <div class="svg-wrapper">
    	<svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
      <rect class="shape" height="60" width="320" />
        <div class="text" align="center">KHUONG DANG
        </div>
          <p class="helpfont">
          	Email:<a href="mailto:kuddox.dang@gmail.com">kuddox.dang@gmail.com</a>
          </p>
          <p class="helpfont">Phone: 801.520.3053</p>
          <p href="github.com/Kuddox" class="helpfont">
          	<a href="http://www.github.com/Kuddox" target="_blank">github.com/Kuddox</a>
          </p>
      </svg>
    </div>
  </div>

  <div class="col-md-4">
  	<div class="picmarg">
  		<img src="assets/NickV_2.png" alt="Nick">
  	</div>
  	<div class="svg-wrapper nick">
  		<svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
  		<rect class="shape" height="60" width="320" />
  			<div class="text" align="center">NICK VO
  			</div>
    			<p class="helpfont">
    				Email:<a href="mailto:moft4studio@gmail.com">moft4studio@gmail.com</a>
    			</p>
    			<p class="helpfont">Phone: 801.413.6513</p>
    			<p class="helpfont">
    				<a href="http://www.github.com/NMVO" target="_blank">github.com/NMVO</a>
    			</p>
  		</svg>
  	</div>
  </div>

</div>
	  <div align="center">
	    <p><a class="text" href="http://www.TrailAPI.com">© 2012 | TrailAPI</a>
	  </div>
	</div>

