
<div class="jumbotron">
  <div class="container">
    <div class="col-md-4">
      <div class="svg-wrapper">
       <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
        <rect class="shape" height="60" width="320" />
          <div class="text" align="center">TOPHER BLAIR</div><br>
          <p class="text">Email:</p>
          <p class="text">Phone:</p>
       </svg>
      </div>
    </div>

    <div class="col-md-4">
      <div class="svg-wrapper">
       <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
        <rect class="shape" height="60" width="320" />
          <div class="text" align="center">KHUONG DANG</div><br>
          <p class="text">Email:</p>
          <p class="text">Phone:</p>
       </svg>
      </div>
    </div>

    <div class="col-md-4">
      <div class="svg-wrapper">
       <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
        <rect class="shape" height="60" width="320" />
          <div class="text" align="center">NICK VO</div><br>
          <p class="text">Email:</p>
          <p class="text">Phone:</p>
       </svg>
      </div>
    </div>
  </div>
  <div align="center">
    <p><a class="text" href="http://www.TrailAPI.com">© 2012 | TrailAPI</a>
  </div>
</div>