
<div class="svg-wrapper">
 <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
  <rect class="shape" height="60" width="320" />
   <div class="text" align="center">TOPHER BLAIR</div>
 </svg>
</div>
<div class="svg-wrapper">
 <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
  <rect class="shape" height="60" width="320" />
   <div class="text" align="center">KHUONG DANG</div>
 </svg>
</div>
<div class="svg-wrapper">
 <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
  <rect class="shape" height="60" width="320" />
   <div class="text" align="center">NICK VO</div>
 </svg>
</div>
