<%= form_for(@trip, remote: using_modal) do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %>

	<%= f.submit %>
	<% if using_modal %>
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <% end %>
<% end %>
