/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "reviews";
@import url(http://fonts.googleapis.com/css?family=Cuprum:400,700);

header {
	padding: 0 10px;
  position: static;
}

.flash-alert {
 padding:  .91324200913242%;
 margin-top: 40px;
 border: 1px solid #750202 ;
 color: #750202 ;
 font-size: 18px;
 background-color: #fcadad ;
 font-weight: bold;
}

.flash-notice {
 padding:  .91324200913242%;
 margin-top: 40px;
 border: 1px solid #017505 ;
 color: #017505 ;
 font-size: 18px;
 background-color: #b5ffb2 ;
 font-weight: bold;
}

.jumbotron {
  background: rgba(0, 20, 3, 0.6);
  margin-top: 20px;
}

.img-responsive {
  width: 372px;
  height: 72px;
}

// style position carousel
.carousel {
  border: 2px double #f40;
  widows: 100%; 
  height: 364px;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  width: 100%;
  height: 360px;
}

// .row {
// 	margin-left: 710px;
// 	margin-top: 60px;
// 	width: 100%;
// 	height: 100%;
// 	position: fixed;
// 	top: 100px;
// }

h1 {
	margin-left: 290px;
}

h3 {
  font-family: "Roboto Condensed", arial, sans-serif;
  font-variant: small-caps; 
  color: #ff7f00;
  text-shadow: 2px 2px 6px #000;
  font-size: 2.5em;
  letter-spacing: 1px;
}

h7 {
  font-family: "Roboto Condensed", arial, sans-serif;
  text-transform: capitalize; 
  color: #f40;
  text-shadow: 2px 2px 6px #000;
  font-size: 2.5em;
  letter-spacing: 1px;
}
// positioning contact column
.col-md-4 {
  margin-top: 154px;
}
// positioning carousel
.col-md-6 {
  margin-top: 80px;
}

.col-md-12 {
  margin-bottom: 30px;
  padding: 0;
}

.gmap {
  border: 1px double #f40;
  width: 400px;
}

// design panel
.panel {
	display: block;
  margin-left: 10px;
  width: 640px;
  max-width: 100%;
  height: auto;
	background: rgba(0, 20, 3, 0.6);
	font-variant: none;
	padding: 10px;
  text-align: justify;
	h1 {
		background: transparent;
	}
	h2 {
		color: white;
	}
	h4 {
		color: #fff;
		font-weight: bold;
    font-family: "Roboto Condensed", arial, sans-serif;
	}
	h5 {
    color: #fff;
    font-variant: small-caps;
    letter-spacing: 2px;
    font-family: "Roboto Condensed", arial, sans-serif;
	}
  h6 {
    color:#09b0ff;
    letter-spacing: 2px;
    text-transform: capitalize;
    font-family: "Roboto Condensed", arial, sans-serif;
    font-size: 16px;
  }
  h7 {
    color: #f40;
    letter-spacing: 2px;
    font-family: "Roboto Condensed";
    font-size: 2.5em;
    text-transform: capitalize;
  }
  .glyphicon {
    color: #fdff60;
  }
  .bold-cap {
    color: #f40;
    font-size: 20px;
    text-transform: uppercase;
  }
	.footer {
		text-align: right;
	}
	.panel-body {
		color: grey;
	}
	.panel-heading {
		background-color: rgb(20,20,20);
    border-bottom: 1px double #f93;
    border-right: 2px double #f93;
	}
  .panel-footer {
    background-color: rgb(70,60,50);
    margin-left: 70px;
    height: 60px;
    border: none;
    border-bottom: 1px double #F40;
    border-left: 2px double #F40;
    margin-right: 0;
  }
}
@media (max-width: 800px) { 
  .panel { 
    width: 95%;
  }
}

// modal input color
.r-name {
  color: #f93;
  letter-spacing: 2px;
  font-family: "Roboto Condensed";
  font-size: 18px;
}

// change the attraction name looks
.atr-name {
  color: #f93;
  letter-spacing: 1px;
  font-family: 'Roboto Condensed', arial, sans-serif;
  font-size: 25px;
  text-transform: capitalize;
}

.add-trip {
  text-align: right;
}

.main-body {
	margin-top: 250px;
}

.nav.navbar-nav.navbar-right.navlist {
  background-color: #F93;
  margin-top: 11px;
  top: 0;
  text-transform:  uppercase;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: inset 0px 14px 0px 0px rgba(255, 255, 255, .1);
  -moz-box-shadow: inset 0px 14px 0px 0px rgba(255, 255, 255, .1);
  box-shadow: inset 0px 14px 0px 0px rgba(255, 255, 255, .1);
  font: 80.5% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
  .glyphicon {
    margin-top: -1px;
  }
  a:visited {
    color: #000;
  }
  a:hover {
    color: #fff;
    text-decoration: none;
    -webkit-box-shadow: inset 0px 0px 7px 2px rgba(0, 0, 0, .3);
    -moz-box-shadow: inset 0px 0px 7px 2px rgba(0, 0, 0, .3);
    box-shadow: inset 0px 0px 7px 2px rgba(0, 0, 0, .3);
  }
  li {
    a {
      color: #000;
      background: none;
    }
  }
  li:hover {
    a {
      background:#C60;
      color:#FFFFFF;
      text-decoration:none;
    }
  }
  ul {
    background: #f93;
  }
}

.navbar {
    background: rgb(20,20,20);
    font-family: sans-serif, arial;
    max-width: 100%;
    top: 0px;
    border-bottom: 2px double #F93;
}

.content {
    margin-left: 0;
}

// style footer
.footer {
	position: fixed;
	bottom: 0;
	height: 39px;
	color: #3c4a50;
  width: 100%;
	background: rgb(20,20,20);
  font: 67.5% "Roboto Condensed";
  font-size:14px;
  border-top: 1px double #F93;
}

body {
	background: url("http://outdoorgearmadness.com/wp-content/uploads/2012/05/Trail-Running-Wallpaper-1280-x-800.jpg") no-repeat;
  background-attachment: fixed;
  background-size:cover;
  height: 100%;
  display: table;
  width: 100%;
  padding-top: 70px;
}

// style contact name
.svg-wrapper {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
	// margin: 85px auto;
  width: 320px;  
}
.shape {
  stroke-dasharray: 140 640;
  stroke-dashoffset: -614;
  stroke-width: 8px;
  fill: transparent;
  stroke: #19f6e8;
  border-bottom: 5px solid black;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}
.text {
  font-family: 'Roboto Condensed';
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 8px;
  color: #fff;
  top: -48px;
  position: relative;
  max-width: 100%;
  text-shadow: 2px 2px 6px #000;
}
.svg-wrapper:hover .shape {
  stroke-width: 2px;
  stroke-dashoffset: 0;
  stroke-dasharray: 1100;
}
 //************************
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

a {
	display: block;
	outline: none;
}

// styling modal
.modal {
  font-family: Arial, Helvetica, sans-serif;
  height: auto;
  background: rgba(0,3,4,0.4);
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  .modal-content {
    border: 1px double #f93;
    width: 80%;
    margin: auto;
    .modal-header {
      background: rgb(20,20,20);
      background: -moz-linear-gradient(#f93, #fff);
      background: -webkit-linear-gradient(#f93, #fff);
      background: -o-linear-gradient(#f93, #fff);
    }
  }
  .modal-body {
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    .panel-body {
      background: #fff;
      background: -moz-linear-gradient(#fff, #999);
      background: -webkit-linear-gradient(#fff, #999);
      background: -o-linear-gradient(#fff, #999);
    }
  }
}

.m-body {
  padding: 10px;
  background: #fff;
  background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999);
  text-align: justify;
}

