/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
$navbar_height: 100px;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "reviews";
@import url(http://fonts.googleapis.com/css?family=Cuprum:400,700);

header {
	padding: 0 10px;
  position: static;
}

.jumbotron {
  background: rgba(0, 20, 3, 0.6);
}

.carousel {
	margin-top: 0px;
	margin-left: 30px;
	width:540px;
    height:360px;
    padding: 5px;
}

.carosel_image {
    
	display: block;
	margin: 0 auto;
	width: 50%;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 100%;
    height: 360px;
}

.row {
	margin-left: 710px;
	margin-top: 60px;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 100px;
}

.btn-sm {
	margin-top: 200px;
	margin-left: -61px;
}

h1 {
	margin-left: 290px;
}

h3 {
    font-family: chalkduster, arial, sans-serif;
}

.col-md-3 {
    margin-top: 100px;
    margin-left: -212px;
}

.panel {
	display: block;
	margin-top: 50px;
	margin-left: 30px;
	width:540px;
    height: auto;
	background: rgba(0, 20, 3, 0.6);
	font-variant: none;
	padding: 10px;
	h1 {
		background: transparent;
	}
	h2 {
		color: white;
	}
	h4 {
		color: lightblue;
		font-weight: bold;
	}
	h5 {
		color: black;
		font-size: 20px;
		text-transform: uppercase;
	}

	.footer {
		text-align: right;
	}

	.panel-body {
		color: grey;
	}
	.panel-heading {
		background-color: rgb(20,20,20);
	}

}

.main-body {
	margin-top: 250px;
}

.navbar {
    background: rgb(20,20,20);
    font-family: sans-serif, arial;
    max-width: 100%;
    top: 0px;
    border: 0px;
}

.content {
    margin-left: 0;

}

aside {
	margin-top: 40px;
}

// style footer

footer {
	position: fixed;
  float: left;
	bottom: 0;
	height: 39px;
	color: #3c4a50;
  width: 100%;
	background: rgb(20,20,20)
}

// style contact page
body {
  padding-top: 100px;
	background: url("http://outdoorgearmadness.com/wp-content/uploads/2012/05/Trail-Running-Wallpaper-1280-x-800.jpg") no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  height: 100%;
  display: table;
  width: 100%;
}

.svg-wrapper {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
	  // margin: 85px auto;
	  margin-top: 116px;
  width: 320px;  
}
.shape {
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  fill: transparent;
  stroke: #19f6e8;
  border-bottom: 5px solid black;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}
.text {
  font-family: 'Roboto Condensed';
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 8px;
  color: #fff;
  top: -48px;
  position: relative;
  max-width: 100%;
}
.svg-wrapper:hover .shape {
  stroke-width: 2px;
  stroke-dashoffset: 0;
  stroke-dasharray: 760;
}

// 
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;

}

a {
	display: block;
	outline: none;
}


.logo {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
}

.navbar-nav {
	a:visited {
	    color: #000;
    }
    a:hover {
    	color: #fff;
    	text-decoration: none;
    }
    text-transform:  uppercase;

}

// styling nav menu
.menu{
border:none;
border:0px;
margin:0px;
padding:0px;
font: 67.5% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
font-size:14px;
font-weight:bold;
}
.menu ul{
background:#F93;
// background: transparent;
height:50px;
list-style:none;
margin:25px;
padding:0;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
-webkit-box-shadow: inset 0px 14px 0px 0px rgba(255, 255, 255, .1);
-moz-box-shadow: inset 0px 14px 0px 0px rgba(255, 255, 255, .1);
box-shadow: inset 0px 14px 0px 0px rgba(255, 255, 255, .1);
}
.menu li{
float:left;
padding:0px 0px 0px 0px; 
}
.menu li a{
color:#000;
display:block;
font-weight:normal;
line-height:50px;
margin:0px;
padding:0px 25px;
text-align:center;
text-decoration:none;
}
.menu li a:hover{
background:#C60;
color:#FFFFFF;
text-decoration:none;
-webkit-box-shadow: inset 0px 0px 7px 2px rgba(0, 0, 0, .3);
-moz-box-shadow: inset 0px 0px 7px 2px rgba(0, 0, 0, .3);
box-shadow: inset 0px 0px 7px 2px rgba(0, 0, 0, .3);
}
.menu ul li:hover a{
background:#C60;
color:#FFFFFF;
text-decoration:none;
}
.menu li ul{
display:none;
height:auto;
padding:0px;
margin:0px;
border:0px;
position:absolute;
width:150px;
z-index:200;
}
.menu li:hover ul{
display:block; 
}
.menu li li {
display:block;
float:none;
margin:0px;
padding:0px;
width:160px;
background:#F93;
/*this is where the rounded corners for the dropdown disappears*/
}
.menu li:hover li a{
background:none;
}
.menu li ul a{
display:block;
height:50px;
font-size:12px;
font-style:normal;
margin:0px;
padding:0px 10px 0px 15px;
text-align:left;
}
.menu li ul a:hover, .menu li ul li:hover a{
border:0px;
color:#ffffff;
text-decoration:none;
background:#C60;
-webkit-box-shadow: inset 0px 0px 7px 2px rgba(0, 0, 0, .3);
-moz-box-shadow: inset 0px 0px 7px 2px rgba(0, 0, 0, .3);
box-shadow: inset 0px 0px 7px 2px rgba(0, 0, 0, .3); 
}

