// Place all the styles related to the Attractions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,700);


$height: 50px;
$width: 50px;
$background-color: #1a1a1a;
$button-color: #2da372;
$hover-color: #2da372;


@mixin text {
  color: #fff;
  font-family:'Lato';
  font-weight:500;
  letter-spacing:1.8px;
  // text-transform: uppercase;
  text-align:center;
  padding: 10px 0 0 5px;
}

.text, .hover {
  @include text;
  span {
    font-weight:300;
  }
  
}

.hover {
 color:$background-color; 
 margin-top:-$height;
 margin-bottom:$height/2;
}

.pulsebutton {

  border-radius:50%;
  border: 4px solid;
  border-color: $button-color;
  background-color: $background-color;
  height:$height;
  width:$width;
  padding: 0;
  outline: none;
  transition: all 1.2s ease-in;

  &:hover {
    box-shadow:inset 0 0 0px $height/2 $hover-color;
    transition: all 1.2s linear;
  }
}