<h1>Attractions</h1>

<% @api_results['places'].each do |place| %>

  <ol><%= place['city'] %>

    <h4>Name<h4>
      <%= place['name'] %>

    <h4>Directions<h4>
      <%= place['directions'] %>

    <% place['activities'].each do |activity| %>

    <h4>Description<h4>
      <%= activity['description'] %>

    <% end %>
     
  </ol>

<% end %>
