<h1>Attractions</h1>

<% @attractions.each do |attraction| %>
 <h1><%= attraction.title %></h1>
 <h2><%= attraction.category %></h2>
  <p><%= attraction.url %></p>

<% end %>

<%= link_to 'New Attraction', new_attraction_path %>